* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grey {
  color: grey;
}

.center {
  margin: 30px 100px 0;
}

.center > *, main > .main-title {
  margin-bottom: 30px;
}

header img {
  width: 190px;
  padding-right: 20px;
  border-right: 1px solid lightgrey;
}

nav ul li {
  display: inline-block;
  margin-right: 8px;
}

nav ul li a {
  text-decoration: none;
  color: grey;
}

div.hero {
  background: url('img/banner.jpg') center;
  height: 420px;
  color: white;
}

.opacity {
  background-color: rgba(10, 10, 10, 0.3);
  height: 100%;
  border-radius: 10px;
}

div.hero-title {
  padding-left: 50px;
  padding-top: 270px;
}
div.wrapper::after {
  content: "";
  display: table;
  clear: both;
}

.wrapper > * {
  float: left;
  text-align: justify;
}

aside.left, aside.right {
  width: 20%;
}

article {
  width: 55%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.fig {
  height: 200px;
}

.fig-left {
  background: url('img/img-1.jpg') center;
  background-size: contain;
}

.fig-middle {
  background: url('img/banner-2.jpg') center;
  background-size: cover;
}

.fig-right {
  background: url('img/img-3.jpg') no-repeat center;
  background-size: cover;
}

.wrapper h4 {
  margin: 10px 0;
}

footer {
  text-align: center;
}

footer span {
  color: red;
}